.profile{
  width: 280px;
  height: 290px;
  margin-left: 50px;
  background: white;
}
 .backgroundCont{
  position: relative;
 }
  .background img{
    
    height: 120px;
    width: 100%;
  }
  .avatarHoverCont{
    position: absolute;
    top: 50%;
    left: 30%;
    height: 140px;
    width: 100px;
  }
  .avatarPic img{
  
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  .container{
    margin-top: 50px;
    background: white;
  }
 
  .name{
    text-align: center;
    font-size: 14px;
    font-weight: 900;
    padding-top: 5px;
    margin-bottom: 10px;
  }
  .descriptipon{
    text-align: center;
    font-size: 10px;
  }
  .descriptipon p{
    margin-top: 0px;
    margin-bottom: 2px;
    padding: 0 auto;
  }
  .friendsBlock{
    margin-top: 20px;
    padding-top: 5px;
    background: white;
    width:inherit;
    height: inherit;  

  }
  .friendsBlock h3{
    font-size: 12px;
    text-align: center;

  }
  .friends {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }
  
    .upload{
      padding-left: 5px;
      padding-top: 15px;
      text-align: center;
      border-radius: 10px;
      position: absolute;
      top: 105px;
      
      background: white;
      border: 1px solid #000;
      height: 40px;
      width: 150px;
    }
    .upload label{
      font-weight: 900;
    }

    .upload label:hover{
      cursor: pointer;
      background: #F4F4F4;
    }
    .upload input[type="file"]{
      display: none;
    }
    .edit{ 
      position: absolute;
      top: -52%;
      right: 28%;
      background: inherit;
      border: none;
    }
    .edit:hover{
      cursor: pointer;
    }
    .edit img{
      height: 17px;
      width: 17px;
    }
    .descriptionWrapper{
      position: relative;
    }