.friend img{
  height: 52px;
  width: 52px;
  border-radius: 50%;
}
.friend{
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  width: 80px;
  height: 60px;
  font-weight: 900;
}
.friend:hover{
  color: rgb(145, 145, 145);
  cursor: pointer;
}
.name{
  font-size: 10px;
}