
  
  .myPosts{
    padding-top: 20px;
    width: 850px;
  }
  .myPosts p{
    font-size: 12px;
    font-weight: 900;
  }
  .input{
    border-top: 1px solid #F4F4F4;
  }
  .newPost{
    padding-top: 10px;
    padding-left: 15px;
    background: white;
    height: 135px;
    position: relative;
  }
  .newPost input{
    height: 70px;
    width: 90%;
    border:none;
    padding-top: 15px;

  }

  .newPost button{
    position: absolute;
    right: 110px;
    top: 53%;
    width: 42px;
    height: 42px;
    color: rgb(253, 253, 253);
    background: #0275B1;
    border: none;
    border-radius: 50%;
  }
  .newPost button:hover{
    cursor: pointer;
    translate: 0.1s;
    background: white;
    
  }
  .newPost button:hover img{
    translate: 0.1s;
    filter: brightness(0) saturate(100%) invert(29%) sepia(99%) saturate(665%) hue-rotate(163deg) brightness(105%) contrast(104%);
  }
  
.sort{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  font-weight: 900; 
}
