.header{
  display: flex;
    width: 100%;
    height: 80px;
    background-color: white;
    margin-bottom: 20px;
  }
  .logo{
    width: 180px;
    height: 100%;
    text-align: center;
    border-right: 1px solid #F4F4F4;
  }
  .logo img{
    height: 66px;
    width: 66px;
  }
  .search{
    width: 308px;
    height: 80px;
    position: relative;
  }
  .search input{
    display: inline-block;
    padding-right: 40px;
    width: 300px;;
    height: 55px;
    
    border: none;
    font-size: 16px;
    font-size: 26px;
    padding-left: 22%;
    padding-top: 0px;
    padding-bottom: 5px;
  }
 
  .search button{
    height: 24px;
    width: 24px;
    position: absolute;
    border: none;
    background: inherit;
    top: 30px;
    left: 25px;
    
  }
  .search button:hover{
    cursor: pointer;
  }
  .search input::placeholder{
    font-size: 16px;
    color: #CECECE;
    align-items: center;
    
  }
  .infoCont{
    margin-left: 7%;
    width: 330px;
    height: 100px;
  }
  .info{
    padding-top: 10px;
    
    display: flex;
    border-right: 1px solid #F4F4F4;
    border-left: 1px solid #F4F4F4;
    
    padding-left: 25px;
  }
  .avatar img {
    border-radius: 50%;
    height: 42px;
    width: 42px;
  }
  .name{
    padding-top: 12px;
    font-weight: bold;
    padding-left:25px;
    text-align: center;
   
  }
  .name::after{
    content: "YOU";
    color: #181818;
    opacity: 20%;
    margin-left: 15px;
  }
  .info button{
    margin-top: 10px;
    height: 30px;
    width: 30px;
    border: none;
    background: inherit;
  }
  .info button img{
    height: 30px;
    width: 30px;
  }
  .infoCont :hover{
    background: #F4F4F4;
    cursor: pointer;
    transition: 0.5s;
  }
  .loginLink{
    padding-top: 30px;
    margin-left: 220px;
  }