body{
  background: #F7F9FB;
  font-family: 'Rubik', sans-serif;
  color: #181818;
}

.app-wrapper{
  
  margin: 0 auto;
  width: 1440px;
  
}
.app-wrapper-content{
  padding-left: 10px;

}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
